*{
  border: none;
  padding: none;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: rgb(93, 0, 155);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  box-shadow: 0 0 20px salmon, 0 0 40px salmon, 0 0 80px salmon,
    0 0 120px salmon;
  background-color: hsl(228, 79%, 42%);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: 0 0 20px salmon, 0 0 40px salmon, 0 0 80px salmon,
    0 0 120px salmon;
  background-color: hsl(228, 79%, 72%);
}
body{
  margin-left: 40px;
  position: relative;
  min-height: 100vh;
  background: linear-gradient(67deg,rgba(233, 230, 230, 0.5),rgb(174, 228, 167));
  background-repeat: no-repeat;
}
button{
  background-color: palegreen;
  font-weight: 2rem;
  color: rgb(6, 31, 22);
  width: 100px;
  height: 50px;
  border-radius: 20px;
  box-shadow:0 0 20px rgba(144, 22, 44, 0.9);
  transition: all 0.3s;
}
button:hover{
  box-shadow: 0 0 5px rgba(215, 63, 91, 0.9),
              0 0 20px rgba(215, 63, 91, 0.9),
              0 0 50px rgba(215, 63, 91, 0.9),
              0 0 120px rgba(215, 63, 91, 0.9);
}
button:active{
  transform: scale(0.4);
}
.btn_div {
  display: flex;
  flex-direction: column;
}
span{
  display: block;
  margin-top: 10px;
  /* align-self: center; */
  height: 50px;
  width: 50px;
  background-color: aqua;
  animation: spin 3s ease-in infinite;
}
@keyframes spin {
  0%{transform: rotateZ(0deg);}
  100%{transform: rotateZ(360deg);}
}
#root{
  position: relative;
  height: 100%;
}